@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<h3>招标信息查看</h3>
<ul>
    <li><a href="/e/member/wj_kuozhan/viewzbyg/">招标预告</a></li>
    <li><a href="/e/member/wj_kuozhan/viewzbgg/">招标公告</a></li>
    <li><a href="/e/member/wj_kuozhan/viewzbbg/">招标变更</a></li>
    <li><a href="/e/member/wj_kuozhan/viewzhongbgg/">中标公告</a></li>
    <li><a href="/e/member/wj_kuozhan/viewhtgg/">合同公告</a></li>
    <li><a href="/e/member/wj_kuozhan/viewysgg/">验收公告</a></li>
    <li><a href="/e/member/wj_kuozhan/viewcfgg/">处罚公告</a></li>
</ul>
<style>
    .hover {
        background-color: cadetblue;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("ul li a[href^='/e/member/wj_kuozhan/'").each(function () {
            if ($(this).text() == "招标预告") {
                $(this).click(function () {
                    $(this).addClass("hover").parent().parent().prev().addClass("hover");
                });
            }
        });
    });
</script>*@

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
